extends ../layout/common 

block content
    h1 Use list
    a.btn.btn-primary(href="/users/create") New
    table.table.mt-3.table-striped.table-hover(style={'table-layout': 'fixed'})
        thead.thead-dark
            tr  
                th(scope='col') Avatar
                th(scope='col') Name
                th(scope='col') Phone
                th(scope='col') Email
                th(scope='col') Actions
        tbody
            each user in users
                tr  
                    td()
                        img.rounded-circle(src=user.avatar, width='32',height='32')
                    td.align-middle= user.name
                    td.align-middle= user.phone
                    td.align-middle= user.email
                    td.d-flex
                        a.btn.btn-info.mr-1.btn-sm(href="/users/" + user._id) View
                        a.btn.btn-success.mr-1.btn-sm(href="/users/update/" + user._id) Update
                        a.btn.btn-danger.btn-sm(href="/users/delete/" + user._id, onclick='confirm("Are you sure ?")') Delete
