html
    head
        title Cloud Computing
        link(rel="icon", href="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-11/32/Cloud-icon.png")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    body
        .container-fliud
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3.text-white
                a.navbar-brand(href='/') HomePage
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/users') List
                        li.nav-item
                            a.nav-link(href='/products') Product
                        li.nav-item
                            a.nav-link(href='/users')
                                if user
                                    p= user.name
                    form.form-inline.my-2.my-lg-0(action="/users/search", method="GET")
                        input.form-control.mr-sm-2(type='search', name="q", value=input, placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-info.my-2.my-sm-0(type='submit') Search
                    a.btn.btn-outline-info.my-2.my-sm-0.ml-1(href='/auth/logout') Logout
            div.container
                block content